[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[user]
  name = Blake Wilson
  email = blake@blake.id
[pull]
  rebase = false
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true

# Local/private config goes in the include.
# Included at the bottom to allow for overriding of the config above
[include]
  path = ~/.gitconfig.local
